<mat-card class="smallUser">
  <mat-card-title>{{user.firstName}}
    <mat-card-actions>
      <button mat-raised-button class="btn btn-link" type="button" [routerLink]="['/userpage', user.uid]">Открыть</button>
      <button mat-raised-button name="subscriptButton" *ngIf="isAuthenticated" (click)="ToggleSubscription()"
        [disabled]="action==='none'" class="btn" [ngClass]="{
          'btn-dark': action === 'add',
          'btn-light': action === 'delete'      
        }">{{action === 'none' ? 'это вы': action ==='add' ? 'Subscribe' : 'Unsubscribe' }}</button>
    </mat-card-actions>  
  </mat-card-title>
</mat-card>