<div *ngIf="post$ | async as post;else loadingPost">
    <div class="post">
        <div class="header">
            <h1>{{post.title}}</h1>

            <button routerLink="/" class="btn btn-link">На главную</button>
        </div>

        <div class="info">
            <strong>{{ post.author }}</strong>
            <small>{{ post.date | date:'long' }}</small>
        </div>

        <div>
            <quill-view-html [content]="post.text"></quill-view-html>
        </div>
    </div>

    <input type="text" [(ngModel)]="commentText" placeholder="введите комментарий" />
    <input type="submit" (click)="submit()" />

    <div *ngIf="commentList$ | async as commentList; else loadingComments">
        <app-comment *ngFor="let comment of commentList" [comment]="comment"></app-comment>
    </div>
</div>

<ng-template #loadingPost>
    <p class="text-center">loading...</p>
</ng-template>
<ng-template #loadingComments>
    <p class="text-center">no comments yet</p>
</ng-template>