<div *ngIf="post$ | async as post;else loadingPost">
    <div class="post">
        <div class="header">
            <h1>{{post.title}}</h1>

            <button routerLink="/" class="btn btn-link">На главную</button>
        </div>

        <div class="info">
            <a *ngIf="author$ | async as author" [routerLink]="['/userpage', author.uid]">{{author.firstName}}
                {{author.lastName}}</a>
            <small>{{ post.date | date: 'medium' }}</small>
        </div>

        <div>
            <quill-view-html [content]="post.text"></quill-view-html>
        </div>
    </div>
    <div id="comments">
        <input type="text" [(ngModel)]="commentText" placeholder="введите комментарий" />
        <input type="submit" (click)="submit()" />
    </div>
    <div *ngIf="commentList$ | async as commentList; else loadingComments">
        <app-comment *ngFor="let comment of commentList" [comment]="comment"></app-comment>
    </div>
</div>

<ng-template #loadingPost>
    <p class="text-center">loading...</p>
</ng-template>
<ng-template #loadingComments>
    <p class="text-center">no comments yet</p>
</ng-template>