<mat-card class="card">
    <mat-card-header class="card-header">
        <h2>{{post.title}}</h2>
        <small>{{post.date | date:'dd.MM.yyyy'}}</small>
    </mat-card-header>

    <span>{{post.text}}</span>

    <mat-card-footer>
        <a *ngIf="author$ | async as author" [routerLink]="['/userpage', author.uid]">{{author.firstName}} {{author.lastName}}</a>
    </mat-card-footer>
    <mat-card-actions>
        <button mat-icon-button mat-mini-fab *ngIf="isAuthenticated" (click)="ToggleLikePost()"
            [disabled]="action==='none'" style="margin-right: 10px;" class="btn">
            {{action === 'none' ? '': action ==='like' ? '' : '' }}
            <mat-icon [ngClass]="{'green-icon': action === 'like','red-icon': action === 'unlike'}">thumb_up</mat-icon>
        </button>
        <label *ngIf="localLikeList.length>0">
            {{localLikeList.length}} likes
        </label>

        <button mat-raised-button [routerLink]="['/post', post.id]" class="btn btn-link">Открыть</button>
    </mat-card-actions>
</mat-card>