<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>New User Registration</h1>

    <div class="form-control" [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
        <label for="email">Email:</label>
        <input id="email" type="text" formControlName="email">
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
            <small *ngIf="form.get('email').errors.required">
                Field empty
            </small>
            <small *ngIf="form.get('email').errors.email">
                enter correct email
            </small>
        </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">

            <small *ngIf="form.get('password').errors.required">
                field empty
            </small>
            <small *ngIf="form.get('password').errors.minlength">
                Введите пароль не менее
                {{ form.get('password').errors.minlength.requiredLength }} символов
            </small>
        </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('firstName').touched && form.get('firstName').invalid}">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" formControlName="firstName">
        <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="validation">
            <small *ngIf="form.get('firstName').errors.required">
                Please enter your First Name
            </small>

        </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('lastName').touched && form.get('lastName').invalid}">
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" formControlName="lastName">
        <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class="validation">
            <small *ngIf="form.get('lastName').errors.required">
                Please enter your Last Name
            </small>
        </div>
    </div>

    <div class="form-control">
        <label for="selectSex">Sex:</label>
        <select id="selectSex" formControlName="sex">
            <option *ngFor="let sex of sexValues" [value]="sex">{{sex}}</option>
        </select>
    </div>

    <div class="form-control">
        <label for="birthDay">Sex:</label>
        <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
    </div>


    <div class="form-control">
        <label for="selectPhoto">Photo</label>
        <img [src]="photoUrl"> <br />
        <input id="selectPhoto" type='file' accept="image/*" (change)="onSelectFile($event)" formControlName="photoUrl">
    </div>

    <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid">register</button>
</form>